.header {
    grid-area: header;
    background-color: #fefefe;
} 

nav ul{
    // position: absolute;
    // top: auto;
    // left: 20%;
    list-style: none;
    // justify-content: flex-end;
    a{
        color: $oscuro;
        margin: 2rem 2rem;
        font-size: 1.3rem;
        &:hover{
            color: nav-hover;
            font-weight: bold;
            border-bottom: 2px solid $nav-hover;
        } 
    }
}