.contenedor .main{
    grid-area: main;
}

h1{
    font-family: 'Share Tech Mono', monospace;
    color: $font-t; /*color*/
    font-size: 3rem; /*tamaño de letra*/
    word-spacing: 5px; /*separacion entre palabras*/
    text-align: center;/*alineacion de texto*/
    margin: 15px;
    padding: 2.5rem;
}

h2{
    margin: px;
    font-family: 'Share Tech Mono', monospace;
    color: $font-t; /*color*/
    font-size: 1.5rem; /*tamaño de letra*/
    word-spacing: 5px; /*separacion entre palabras*/
    text-align: center;/*alineacion de texto*/
}

h3{
    display: flex;
    justify-content: space-around;
    font-family: 'Share Tech Mono', monospace;
    color: $font-t; /*color*/
}

p{
    font-family: 'Share Tech Mono', monospace;
    color: $font-t; /*color*/
    font-size: 1rem; /*tamaño de letra*/
    word-spacing: 2px; /*separacion entre palabras*/
    padding: 10px;/*separacion entre parrafos*/
    margin: 5px;
    line-height: 1.3; /*separacion entre lineas*/
}

a{
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    color: $font-t;
    font-size: 1.1rem; /*tamaño de letra*/
    word-spacing: 5px; /*separacion entre palabras*/
    padding: 10px;/*separacion entre parrafos*/
    margin: 5px;
}

/* Mixin */
@mixin catal($argumento1, $argumento2, $argumento3, $argumento4, $argumento5){
    display: $argumento1;
    grid-template-columns: $argumento2;
    grid-template-rows: $argumento3;
    gap: $argumento4;
    margin: $argumento5;
}
// .catalogos{
//     @include catal( grid, 1fr 1fr 1fr, repeat(2 1fr), 1px, 50px );
// }

// articulo "gallery"
.catalogos{
    display:grid;
    // gap: 1rem;
    // grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    img{
        width: 90%;
        height: auto;
        border: 2px double $bd-img-color;
        margin: 10px;
        border-radius: 4px;
        &:hover{
            /* sombreado detras */
            box-shadow: 18px 21px 14px -6px $img-hover;
            /* aumenta y adelanta la imagen */
            width: 100%;
            /* tiempo de transicion */
            transition: all 0.5s;
        }
    }
}

/* sombreado al posicionarse sobre la img */

.destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  grid-auto-flow: dense;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    img{
        width: 100%;
        padding: 25px;
    }
  }
