<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Share+Tech+Mono&family=Shizuru&display=swap"
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/favicon/android-chrome-512x512.png">
    <title>Contactos</title>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img id="arriba" src="../assets/img/blancopapelestrecho.png" alt="" width="auto" height="auto" href="#">
            </a>
            <div class="barraNav">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Contactos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../views/carrito.html">Carrito</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main>
      <h1>Escribinos</h1>

      <div class="contactanos">
              <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="Juan" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Perez">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="exampleFormControlInput1" class="form-label">Mail</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
                </div>
                
                <div class="col-md-4">
                  <label for="validationCustom04" class="form-label">¿Desde donde nos escribes?</label>
                  <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">opciones:</option>
                    <option>Argentina</option>
                    <option>Uruguay</option>
                    <option>Chile</option>
                    <option>Brasil</option>
                    <option>Colombia</option>
                    <option>Otros</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid state.
                  </div>
                </div>
                <div class="col-md-8">
                  <label for="exampleFormControlTextarea1" class="form-label">Escribe un consulta o comentario</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Deseo recibir novedades por Mail
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div><br>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
              </form>
      </div>
    </main>

    <div class="carro">
        <a href="../views/carrito.html"><img src="../assets/favicon/carrito/android-chrome-192x192.png" alt=""></a>
    </div>

    </main>

    <footer class="footer">
        <div class="redes">
          <a href="#arriba">Blanco Papel</a>
  
          <a
            href="https://api.whatsapp.com/send?phone=543518112054&text="
            target="_blank"
            ><img
              src="../assets/favicon/watsapp/favicon-32x32.png"
              alt="whatsapp"
            />
            Whatsapp</a
          >
  
          <a href="https://www.instagram.com/blancopapel.cba/" target="_blank"
            ><img
              src="../assets/favicon/instagram icons/favicon-32x32.png"
              alt="instagram"
            />
            Instagram</a
          >
  
          <a href="../views/contactos.html"
            ><img src="../assets/favicon/Mail_icons.png" alt="mail" /> Mail</a
          >
        </div>
        <ol>
          <h2>Copyright © 2022 Blanco Papel</h2>
          <h2>Powered by Lerda Fernando ®</h2>
        </ol>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>